<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../includes/main.css">
    <link rel="stylesheet" href="../lib/fortawesome/font-awesome/css/font-awesome.min.css">
    
    <script src="../includes/main.js"></script>
    <?php if(isset($add_JS)) echo $add_JS; ?>

    <?php if(isset($executeJS)) echo '<script type="text/javascript"> window.onload = function() {'.$executeJS.'}; </script>' ?>

    <link rel="icon" type="image/png" sizes="32x32" href="../includes/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../includes/images/icons/favicon-16x16.png">

    <title>Pracovné ponuky pre technické odbory | ITckari.sk</title>
</head>
<body>
<nav class="main">
    <container>
        <part-left>
            <a href="/"><img alt="logo" src="../includes/images/logo.png" width="27" height="38"></a>
            <a href="/ponuky-prace">PONUKY PRÁCE</a>
            <a href="/spolocnosti">ZOZNAM SPOLOČNOSTÍ</a>
            <a href="/o-nas">O NÁS</a>
        </part-left>
        <part-right>
            <?= $GLOBALS['nav_btn'] ?>
        </part-right>
    </container>
</nav>
<?php 
    if(isset($background)) {
        switch($background) {
            case 'home':
                echo '<background class="home-img"></background>';
                echo '<background class="home-shadow"></background>';
                break;
            default:
                echo '<background class="job-list-bg"></background>';
        }
    } else {
        echo '<background class="job-list-bg"></background>';   
    }
?>