<main class="about">
    <header>
        <h1>O nás</h1>
    </header>
    <section class="about">
        <p>Projekt vznikol ako nápad študentov, združiť všetky technické pracovné pozície pod jednu webovú stránku, ktorú budú poznať všetci študenti a neskôr aj absolventi na technických vysokých školách. Našim cieľom je urobiť z tejto stránky jedinú študentmi používanú doménu na vyhľadávanie brigády/práce vo svojom študijnom odbore.</p>
        <p>Chceme vytvoriť jednoduchý a prehľadný nástroj, ktorý poskytne efektívne vyhľadávanie (podľa odborov, zameraní, krajov) študentom a rovnako jednoduchý a prehľadný nástroj pre inzerujúce spoločnosti.</p>
        <p>Druhou náplňou webu je vytvorenie miesta, na ktorom nájdu jednotlivé osoby, tímy, študenti aj neštudenti možnosti zapojiť sa do zaujímavých technických súťaží, úloh, za ktoré budú môcť získať cenné odmeny a nezaplatiteľné znalosti.</p>
    </section>
</main>