<form id="form_addOffer" method="post" action="/pridat-ponuku">
<main class="offer">
    <nav class="offer">
        <a href="/">Úvod</a>
        <a href="/ponuky-prace">Ponuky práce</a>
    </nav>
        <aside class="info">
            <header>
                <h3>Ďaľšie informácie</h2>
            </header>
            <p class="description"><textarea name="offer_description_short" cols="35" rows="6" style="resize: none;" placeholder="Krátky popis/dodatok k práci" required></textarea></p>
            <p class="category">Kategórie:
            <select name="offer_category" style="width: 190px; height: 30px; padding: 0;" required>
                <option value="">Vyberte možnosť</option>
                <option value="informatika">Informatika</option>
                <option value="graficky-design">Grafický design</option>
                <option value="elektronika">Elektronika</option>
                <option value="elektrotechnika">Elektrotechnika</option>
                <option value="automatizacia">Automatizácia</option>
                <option value="telekomunikacia">Telekomunikácia</option>
            </select></p>
            <p class="created">Vytvorený: <?= $offer_created ?></p>
        </aside>
        <aside class="company">
            <header>
                <h3>Spoločnosť</h2>
            </header>
            <logo>
                <img src="<?= $company_logo ?>">
            </logo>
            <p class="name">Názov: <?= $company_name ?></p>
            <p class="address">Adresa: <?= $company_address ?></p>
            <p class="employees">Počet zamestnancov: <?= $company_employees ?></p>
            <p class="branch">Odvetie: <?= $company_branch ?></p>
            <p class="url_header">Webová stránka:
                <a class="url_link" href="<?= $company_url ?>"><?= $company_url ?></a>
            </p>
        </aside>
        <section class="company">
            <logo>
                <img src="<?= $company_logo ?>">
            </logo>
            <informations>
                <h1 class="header"><input name="offer_name" type="text" style="height: 30px; width: 250px; padding: 0px;" placeholder="Názov ponuky" required></h1>
                <p class="location">
                <select name="offer_location" style="width: 180px; padding: 0px;" required>
                    <option value="">Vyberte</option>
                    <option value="bratislavsky-kraj">Bratislavský kraj</option>
                    <option value="trnavsky-kraj">Trnavský kraj</option>
                    <option value="trenciansky-kraj">Trenčiansky kraj</option>
                    <option value="nitriansky-kraj">Nitriansky kraj</option>
                    <option value="zilinsky-kraj">Žilinský kraj</option>
                    <option value="banskobystricky-kraj">Banskobystrický kraj</option>
                    <option value="kosicky-kraj">Košický kraj</option>
                    <option value="presovsky-kraj">Prešovský kraj</option>
                </select>
                <p class="salary"><input name="offer_salary" type="text" style="width: 35px; padding: 0px;" placeholder="Plat" required></p>
                <p class="time">
                <select name="offer_time" style="width: 100px; padding: 0px;" required>
                    <option value="">Vyberte</option>
                    <option value="full-time">full-time</option>
                    <option value="part-time">part-time</option>
                    <option value="temporary">temporary</option>
                    <option value="flexible">flexible</option>
                </select>
                </p>
            </informations>
        </section>
        <section class="description">
            <h2>Náplň práce:</h2>
            <textarea name="offer_scope" cols="60" rows="10" style="resize: vertical;" required></textarea>
            <h2>Požiadavky</h2>
            <textarea name="offer_requirements" cols="60" rows="10" style="resize: vertical;" required></textarea>
            <h2>Ostatné výhody</h2>
            <textarea name="offer_benefits" cols="60" rows="10" style="resize: vertical;" required></textarea>
            <h2>Charakteristika spoločnosti <?= $company_name ?></h2>
            <p><?= $company_description ?></p>
        </section>
</main>
</form>