<main class="companies">
    <header>
        <h1>Všetky spoločnosti</h1>
    </header>
    <aside class="companies">
        <header>
            <h3>Kategórie</h2>
        </header>
        <ul>
            <li><a href="#">Všetky kategórie</a></li>
            <li><a href="#">Informatika (<?= $count_informatika ?>)</a></li>
            <li><a href="#">Grafický design (<?= $count_design ?>)</a></li>
            <li><a href="#">Elektronika (<?= $count_elektronika ?>)</a></li>
            <li><a href="#">Elektrotechnika (<?= $count_elektrotechnika ?>)</a></li>
            <li><a href="#">Automatizácia (<?= $count_automatizacia ?>)</a></li>
            <li><a href="#">Telekomunikácia (<?= $count_telekomunikacia ?>)</a></li>
        </ul>
    </aside>
    <section class="companies">
        <header>
            <h2>Registrované spoločnosti (<?= $getCompaniesCount[0]['count'] ?>)</h2>
        </header>
        <fields>
            <?php 
            foreach($getCompanies as $row){
                echo '<a href="/spolocnost/'.$row['id'].'">
                <logo><img src="../'.$row['logo'].'"></logo>
                <informations>
                    <h3>'.$row['name'].'</h3>
                    <p class="description">'.substr($row['charakteristika'], 0, 135).'...</p>
                </informations>
                </a>';
            }
            ?>
        </fields>
        <?php
        $count = ceil($getCompaniesCount[0]['count']/10);
        if($count > 1){
            echo '<switch>';
            for ($i = 1; $i <= $count; $i++) {
                echo '<p>'.$i.'</p>';
            } 
            echo '</switch>';
        }
        ?>
    </section>
</main>