<main class="home">
    <section class="search">
        <header>
            <h1>Jedinečný web, plný pracovných príležitostí pre všetky technické odbory!</h1>
            <p>Portál od študentov pre študentov</p>
        </header>
        <search>
            <fields>
                <dropdown>
                    <p>Kategória</p>
                    <ul class=" hidden">
                        <li>Všetky</li>
                        <li>Informatika</li>
                        <li>Grafický design</li>
                        <li>Elektronika</li>
                        <li>Elektrotechnika</li>
                        <li>Telekomunikácia</li>
                        <li>Automatizácia</li>
                    </ul>
                </dropdown>
                <dropdown>
                    <p>Lokalita</p>
                    <ul class=" hidden">
                        <li>Všetky</li>
                        <li>Bratislavský kraj</li>
                        <li>Trnavský kraj</li>
                        <li>Trenčiansky kraj</li>
                        <li>Nitriansky kraj</li>
                        <li>Žilinský kraj</li>
                        <li>Banskobystrický kraj</li>
                        <li>Košický kraj</li>
                        <li>Prešovský kraj</li>
                    </ul>
                </dropdown>
                <input type="text" name="kategoria" placeholder="Čo hľadáš ?">
                <a href="#" id="search" class="button">HĽADAŤ</a>
            </fields>
        </search>
    </section>
    <section class="categories">
        <fields>
            <a href="/ponuky-prace?category=1">
                <img src="../includes/images/informatics.jpg" height="180" width="180">
                <h6>Informatika</h6>
                <p>(<?= $count_informatika ?>)</p>
            </a>
            <a href="/ponuky-prace?category=2">
                <img src="../includes/images/graphic-design.jpg" height="180" width="180">
                <h6>Grafický design</h6>
                <p>(<?= $count_design ?>)</p>
            </a>
            <a href="/ponuky-prace?category=3">
                <img src="../includes/images/electronics.jpg" height="180" width="180">
                <h6>Elektronika</h6>
                <p>(<?= $count_elektronika ?>)</p>
            </a>
            <a href="/ponuky-prace?category=4">
                <img src="../includes/images/electrotecnic.jpg" height="180" width="180">
                <h6>Elektrotechnika</h6>
                <p>(<?= $count_elektrotechnika ?>)</p>
            </a>
            <a href="/ponuky-prace?category=5">
                <img src="../includes/images/automatization.jpg" height="180" width="180">
                <h6>Automatizácia</h6>
                <p>(<?= $count_automatizacia ?>)</p>
            </a>
            <a href="/ponuky-prace?category=6">
                <img src="../includes/images/telecommunication.jpg" height="180" width="180">
                <h6>Telekomunikácia</h6>
                <p>(<?= $count_telekomunikacia ?>)</p>
            </a>
        </fields>
    </section>
    <section class="offers">
        <header>
            <h2>Posledne pridané</h2>
        </header>
        <fields>
            <?php 
            foreach($getOffers as $row){
                echo '<a href="/ponuka-prace/'.$row['id'].'">
                <logo><img src="../'.$row['logo'].'"></logo>
                <informations>
                    <h3>'.$row['name'].'</h3>
                    <p class="location">'.$row['location'].'</p>
                    <p class="salary">'.$row['salary'].'</p>
                    <p class="time">'.$row['time'].'</p>
                </informations>
                <date>'.date("d.m.Y", strtotime($row['created_on'])).'</date>
                </a>';
            }
            ?>
        </fields>
    </section>
</main>