<main class="offers">
    <section class="search">
        <header>
            <h1>Všetky ponuky práce</h1>
        </header>
        <search>
            <fields>
                <dropdown>
                    <p>Kategória</p>
                    <ul class=" hidden">
                        <li>Všetky</li>
                        <li>Informatika</li>
                        <li>Grafický design</li>
                        <li>Elektronika</li>
                        <li>Elektrotechnika</li>
                        <li>Telekomunikácia</li>
                        <li>Automatizácia</li>
                    </ul>
                </dropdown>
                <dropdown>
                    <p>Lokalita</p>
                    <ul class=" hidden">
                        <li>Všetky</li>
                        <li>Bratislavský kraj</li>
                        <li>Trnavský kraj</li>
                        <li>Trenčiansky kraj</li>
                        <li>Nitriansky kraj</li>
                        <li>Žilinský kraj</li>
                        <li>Banskobystrický kraj</li>
                        <li>Košický kraj</li>
                        <li>Prešovský kraj</li>
                    </ul>
                </dropdown>
                <input type="text" name="kategoria" placeholder="Čo hľadáš ?">
                <a href="#" id="search" class="button">HĽADAŤ</a>
            </fields>
        </search>
    </section>
    <section id="offers" class="offers">
        <header>
            <h2>Ponuky práce (<?= $getOffersCount[0]['count'] ?>)</h2>
        </header>
        <fields>
            <?php 
            foreach($getOffers as $row){
                echo '<a href="/ponuka-prace/'.$row['id'].'">
                <logo><img src="../'.$row['logo'].'"></logo>
                <informations>
                    <h3>'.$row['name'].'</h3>
                    <p class="location">'.$row['location'].'</p>
                    <p class="salary">'.$row['salary'].'</p>
                    <p class="time">'.$row['time'].'</p>
                </informations>
                <date>'.date("d.m.Y", strtotime($row['created_on'])).'</date>
                </a>';
            }
            ?>
        </fields>
        <?php
        $count = ceil($getOffersCount[0]['count']/10);
        if($count > 1) {
            echo '<switch>';
            for ($i = 1; $i <= $count; $i++) {
                echo '<p>'.$i.'</p>';
            }
            echo '</switch>';
        }
        ?>
    </section>
</main>