<main class="signUp">
    <header>
        <h1>Prihlásenie</h1>
    </header>
    <form id="form_signUp" action="/prihlasenie" method="POST">
        <section class="signUp">
            <header>
                <h2>Prihlasovacie údaje</h2>
            </header>
            <fields>
                <p>Email</p><input type="email" name="email" required>
                <p>Heslo</p><input type="password" name="password" required>
                <br>
                <input type="submit" value="Prihlásenie">
            </fields>
        </section>
    </form>
</main>