<main class="signIn">
    <header>
        <h1>Registrácia firmy</h1>
    </header>
    <aside class="signIn">
        <header>
            <h3>Podmienky registrácie</h2>
        </header>
        <ul>
            <li>Polia označené * sú povinné</li>
            <li>Heslo musí mať aspoň 6 znakov.</li>
            <li>Logo musí byť formát obrázku (jpg/png) s rozlíšením minimálne 200 x 200 px</li>
        </ul>
    </aside>
    <form id="form_signIn" action="/registracia-spolocnosti" method="POST">
        <section class="prihlasenie">
            <header>
                <h2>Prihlasovacie údaje</h2>
            </header>
            <fields>
                <p>Email *</p><input type="email" name="email" required>
                <p>Heslo *</p><input type="password" name="password" required>
                <p>Heslo znova</p><input type="password" required>
            </fields>
        </section>
        <section class="spolocnost">
            <header>
                <h2>Údaje o spoločnosti</h2>
            </header>
            <fields>
                <p>Meno spoločnosti *</p><input type="text" name="name" required>
                <p>IČO *</p><input type="text" name="ico" required>
                <p>IČ DPH</p><input type="text" name="icDph">
            </fields>
        </section>
        <section class="kontakt">
            <header>
                <h2>Kontaktné údaje</h2>
            </header>
            <fields>
                <p>Adresa *</p><input type="text" name="adresa" required>
                <p>Mesto *</p><input type="text" name="mesto" required>
                <p>PSČ *</p><input type="text" name="psc" required>
                <p>Tel. číslo</p><input type="text" name="tel">
                <p>Webová stránka *</p><input type="text" placeholder="http://" name="web" required>
            </fields>
        </section>
        <section class="doplnujuce">
            <header>
                <h2>Doplňujúce údaje</h2>
            </header>
            <fields>
                <p style="grid-area: n_charakteristika;">Charakteristika spoločnosti *</p><textarea class="text" cols="86" rows ="2" name="popis" style="grid-area: i_charakteristika; resize: none;" required></textarea>
                <p style="grid-area: n_oblast;">Oblasť pôsobenia *</p>
                <select style="grid-area: i_oblast" name="oblast" required>
                    <option value="">Vyberte možnosť</option>
                    <option value="informatika">Informatika</option>
                    <option value="graficky-design">Grafický design</option>
                    <option value="elektronika">Elektronika</option>
                    <option value="elektrotechnika">Elektrotechnika</option>
                    <option value="automatizacia">Automatizácia</option>
                    <option value="telekomunikacia">Telekomunikácia</option>
                </select>
                <p style="grid-area: n_zamestnanci;">Počet zamestnancov *</p>
                <select style="grid-area: i_zamestnanci;" name="zamestnanci" required>
                    <option value="">Vyberte možnosť</option>
                    <option value="0">0 zamestnancov</option>
                    <option value="1">1 zamestnanec</option>
                    <option value="2">2 zamestnanci</option>
                    <option value="3">3-4 zamestnanci</option>
                    <option value="5">5-9 zamestnancov</option>
                    <option value="10">10-19 zamestnancov</option>
                    <option value="20">20-24 zamestnancov</option>
                    <option value="25">25-49 zamestnancov</option>
                    <option value="50">50-99 zamestnancov</option>
                    <option value="100">100-149 zamestnancov</option>
                    <option value="150">150-199 zamestnancov</option>
                    <option value="200">200-249 zamestnancov</option>
                    <option value="250">250-499 zamestnancov</option>
                    <option value="500">500-999 zamestnancov</option>
                    <option value="1000">1000 a viac zamestnancov</option>
                </select> 
                <p style="grid-area: n_logo;">Logo firmy *</p>
                <button style="grid-area: i_logo;" type="button" onclick="openDialog('uploadLogo')">Nahrať logo</button>
                <input id='input_uploadLogo' type='file' accept='image/*' onchange="handleFiles('uploadLogo', this.files)" required hidden/>
                <a id="link_uploadLogo" style="grid-area: i_logoLink; align-self: center;" target="_blank"></a>
                <input id="input_link_uploadLogo" type="text" name="logo" hidden>
                <br style="grid-area: n_suhlas;">
                <suhlas style="grid-area: i_suhlas;">
                    <input type="checkbox" name="suhlas" value="1" required>
                    <p>Súhlasím s podmienkami.</p>
                    <span>Súhlasím so spracovaním osobných údajov ako firmy. 
                    Tieto údaje budú použité výlučne len na overenie totožnosti 
                    firmy a časť z nich bude použitá na zverejnenie na portály 
                    ITckari.sk ako charakteristika spoločnosti. V prípade Vášho 
                    záujmu o odstránenie Vašich údajov z našej databázy nám 
                    napíšte na info@itckari.sk</span>
                </suhlas>
                <br>
                <input type="submit" value="Odoslať registráciu">
            </fields>
        </section>
    </form>
</main>