<main class="company">
    <nav class="company">
        <a href="/">Úvod</a>
        <a href="/spolocnosti">Zoznam spoločností</a>
        <p><?= $company_name ?></p>
    </nav>
    <section class="company">
        <logo>
            <img src="<?= $company_logo ?>">
        </logo>
        <informations>
            <h1 class="header"><?= $company_name ?></h1>
            <p class="address"><?= $company_address ?></p>
            <p class="employees"><?= $company_employees ?></p>
            <a class="url" href="<?= $company_url ?>">Prejsť na webstránku</a>
        </informations>
    </section>
    <section class="description">
        <header><h1>Charakteristika spoločnosti</h1></header>
        <p><?= $company_description ?></p>
    </section>
    <section class="offers">
        <header><h1>Ponuky práce</h1></header>
        <fields>
            <a href="#">
                <logo><img src="../includes/uploads/companies/000000/Kistler_Logo_online_RGB.jpg"></logo>
                <informations>
                    <h3>Junior C++ Software Developer</h3>
                    <p class="location">Bratislavský kraj, Bratislava</p>
                    <p class="salary">1600</p>
                    <p class="time">full-time</p>
                </informations>
                <date>04.07.2018</date>
            </a>
            <a href="#">
                <logo><img src="../includes/uploads/companies/000000/Kistler_Logo_online_RGB.jpg"></logo>
                <informations>
                    <h3>Junior .NET/C# Developer</h3>
                    <p class="location">Bratislavský kraj, Bratislava</p>
                    <p class="salary">1600</p>
                    <p class="time">full-time</p>
                </informations>
                <date>04.07.2018</date>
            </a>
        </fields>
    </section>
</main>