<main class="offer">
    <nav class="offer">
        <a href="/">Úvod</a>
        <a href="/ponuky-prace">Ponuky práce</a>
    </nav>
    <aside class="info">
        <header>
            <h3>Ďaľšie informácie</h2>
        </header>
        <p class="description"><?= $offer_description_short ?></p>
        <p class="category">Kategórie: <?= $offer_category ?></p>
        <p class="created">Vytvorený: <?= $offer_created ?></p>
    </aside>
    <aside class="company">
        <header>
            <h3>Spoločnosť</h2>
        </header>
        <logo>
            <img src="<?= $company_logo ?>">
        </logo>
        <p class="name">Názov: <?= $company_name ?></p>
        <p class="address">Adresa: <?= $company_address ?></p>
        <p class="employees">Počet zamestnancov: <?= $company_employees ?></p>
        <p class="branch">Odvetie: <?= $company_branch ?></p>
        <p class="url_header">Webová stránka:
        <a class="url_link" href="<?= $company_url ?>"><?= $company_url ?></a>
        </p>
    </aside>
    <section class="company">
        <logo>
            <img src="<?= $company_logo ?>">
        </logo>
        <informations>
            <h1 class="header"><?= $offer_name ?></h1>
            <p class="location"><?= $offer_location ?></p>
            <p class="salary"><?= $offer_salary ?></p>
            <p class="time"><?= $offer_time ?></p>
        </informations>
        <buttons>
            <a>Žiadosť o prácu</a>
        </buttons>
    </section>
    <section class="description">
        <h2>Náplň práce:</h2>
        <p><?= $offer_scope ?></p>
        <h2>Požiadavky</h2>
        <p><?= $offer_requirements ?></p>
        <h2>Ostatné výhody</h2>
        <p><?= $offer_benefits ?></p>
        <h2>Charakteristika spoločnosti <?= $company_name ?></h2>
        <p><?= $company_description ?></p>
    </section>
</main>