body {
    margin: 0;
    background: #f7f7f7;
}

header, section, footer, aside, nav, article, figure {
    display: block;
}

input, select {
    -webkit-transition: 0.2s; /* Safari */
    transition: 0.2s;
    border: 1px solid #e3e3e3;
    margin: 0;
    padding: 0 15px;
    border-radius: 5px;
}

input[type="submit"] {
    cursor: pointer;
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

fields {
    grid-area: fields;
}

textarea, input {
    -webkit-transition: .4s;
    transition: .4s;
}

switch {
    grid-area: switch;
}

switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

switch p {
    background: #e7e8e9;
    margin: 0px 5px;
    padding: 8px 12px;
    border-radius: 5px;
    color: #9a9a9a;
    border: 1px solid #e2e3e3;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

switch p:hover {
    background: #0072bc;
    color: #fff;
}

switch p.active {
    background: #0089E5;
    cursor: default;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, a, p, li {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-weight: normal;
} 

a, p {
    font-size: 14px;
}

a:visited {
    color: initial;
}

main, container {
    display: grid;
    margin: auto;
}

background {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

background.job-list-bg {
    height: 100%;
    background-image: url(images/job-list-bg.jpg);
}

background.home-img {
    height: 430px;
    background-image: url(images/job-list-bg.jpg);
}

background.home-shadow {
    height: 430px;
    background-color: rgba(40, 45, 50, 0.4);
}

part-left {
    grid-area: left;
}

part-right {
    grid-area: right;
}

a.button {
    text-decoration: none;
    color: initial;
}

nav.main {
    text-align: center;
    background: #fff;
}

nav.main container {
    min-height: 58px;
    grid-template-areas: 'left right';
    align-items: center;
    justify-items: center;
}

nav.main part-left {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    grid-gap: 20px;
}

nav.main a:not(.button) {
    color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}

nav.main a:not(.button):hover {
    color: #0089E5;
}

nav.main .button {
    background: #0072bc;
    padding: 8px 25px;
    border-radius: 5px;
    color: #fff;
}

footer.main {
    margin-top: 100px;
    border-top: solid 1px #ccc;
    text-align: center;
    color: #6e6e6e;
}

footer.main a {
    color: #6e6e6e;
}

footer.main a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

notification {
    background: #fff;
    min-height: 100px;
    width: 400px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    border: 1px solid #0089E5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto;
}

notification close {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    content: '\f00d';
    font-family: 'FontAwesome';
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: .4s;
    transition: .4s;
}

notification close:hover {
    color: #0089E5;
}

notification h1 {
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #b5b5b5;
}

notification p {
    margin: 0;
    padding: 10px 25px;
    
    display: inline-block;
    word-break: break-word;
    white-space: pre-line;
}

search fields {
    background: #fff;
    display: grid;
    height: 100%;
}

search fields {
    display: grid;
    grid-template-columns: 15% 15% 50% 12.5%;
    grid-gap: 2.5%;
    background:#fff;
    color:#000;
    border-radius: 0 5px 5px 0;
}

search fields input {
    border: none;
}

search fields input:focus {
    outline: none;
}

/* **************** */
/* ***   Home   *** */
/* **************** */

main.home {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'search'
        'categories'
        'offers';
    grid-row-gap: 30px;
}

section.search { grid-area: search; }
main.home section.categories { grid-area: categories; }
section.offers { 
    grid-area: offers;
    display: grid;
    grid-template-areas: 'header' 'fields' 'switch';
    grid-row-gap: 20px;
}

main.home section.search {
    padding-bottom: 100px;
}

main.home section.search h1,
section.search p {
    color: #fff;
    text-align: center;
}

main.home section.search h1 {
    font-size: 51px;
    font-weight: 700;
    padding-top: 50px;
    margin-bottom: 25px;
}

section.search p {
    font-size: 22px;
}

main.home section.search search {
    display: block;
    margin: auto;
    width: 95%;
    height: 45px;
    border-radius: 5px;
    border-top: solid 8px rgba(0, 0, 0, 0.2);
    border-bottom: solid 8px rgba(0, 0, 0, 0.2);
    border-left: solid 15px rgba(0, 0, 0, 0.2);
    border-right: solid 15px rgba(0, 0, 0, 0.2);
}

section.search dropdown {
    display: grid;
    cursor: pointer;
}

section.search dropdown p {
    color: #000;
    font-size: 16px;
    margin: 0;
    align-self: center;
    -webkit-transition: .4s;
    transition: .4s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.search dropdown:hover p {
    color: #0089E5;
}

section.search dropdown ul {
    position: absolute;
    margin-top: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 170px;
    background: #fff;
    list-style-type: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

section.search li {
    padding: 5px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

section.search ul li:hover {
    color: #0089E5;
}

section.search dropdown p:after {
    content: "\f107";
    font-family: 'FontAwesome';
    margin-left: 10px;
}

section.search a {
    background: #0072bc;
    color: #fff;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}

main.home section.categories fields {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background: #fff;
    padding: 40px 20px;
} 

main.home section.categories a:hover h6,
main.home section.categories a:hover p {
    color: #0089E5;
}

main.home section.categories img,
main.home section.categories h6,
main.home section.categories p {
    text-align: center;
    margin: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

main.home section.categories h6 {
    font-size: 16px;
    color: #505050;
}

main.home section.categories p {
    color: #b5b5b5;
}

section.offers {
    background: #fff;
    padding: 30px;
}

section.offers header {
    border-bottom: 1px solid #f2f2f2;
}

main.home section.offers header h2 {
    margin-top: 0;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

section.offers fields {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
}

main.home section.offers fields a {
    display: grid;
    grid-template-areas: 'offers-logo offers-informations offers-date';
    grid-template-columns: 15% 70% 15%;
    border: 1px solid #f2f2f2;
    height: 100px;
    align-items: center;
}

section.offers fields a:hover informations h3 {
    color: #0089E5;
}

section.offers informations h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0;
    -webkit-transition: .4s;
    transition: .4s;
}

section.offers date,
section.offers informations p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin: 5px 0;
    color: #7F7F7F;
}

section.offers fields a logo { grid-area: offers-logo; }
section.offers fields a informations { 
    grid-area: offers-informations;
    display: grid;
    grid-template-areas: 
        'info-header info-header info-header info-header'
        'info-location info-salary info-time .';
    grid-template-columns: 30% 12.5% 15% 42.5%;
}

section.offers fields a informations h3 { grid-area: info-header; color: #000}
section.offers fields a informations p.location { grid-area: info-location; }
section.offers fields a informations p.salary { grid-area: info-salary; }
section.offers fields a informations p.time { grid-area: info-time; }
section.offers fields a date { grid-area: offers-date; }

section.offers fields a informations p.location::before {
	font-size: 20px;
    content: '\f041';
    font-family:'FontAwesome';
    margin-right: 10px;
}

section.offers fields a informations p.salary::before {
	font-size: 20px;
    content: '\f0d6';
    font-family:'FontAwesome';
    margin-right: 10px;
}

section.offers fields a informations p.salary::after {
	font-size: 14px;
    content: '\20AC';
    margin-left: 1px;
}

section.offers fields a informations p.time::before {
	font-size: 20px;
    content: '\f017';
    font-family:'FontAwesome';
    margin-right: 10px;
}

section.offers fields logo img {
    width: 95px;
    height: auto;
}

/* **************** */
/* ***  SignIn  *** */
/* **************** */

main.signIn {
    width: 75%;
    grid-gap: 25px 2.5%;
    grid-template-columns: 65.5% 32%;
    grid-template-areas: 'header header'
                         'prihlasenie aside'
                         'spolocnost .'
                         'kontakt .'
                         'doplnujuce .';
}

main.signIn section, aside.signIn {
    background: #fff;
    border-radius: 5px;
}

main.signIn > header {
    padding-top: 15px;
}

aside.signIn {
    padding: 15px 15px 40px 15px;
}

main.signIn section {
    padding: 15px 40px 40px 40px;
    margin-bottom: 25px;
}

aside.signIn {
    position: relative;
    height: 200px;
}

aside.signIn h3 {
    border-bottom: 1px solid #f2f2f2;
    color: #000;
    font-size: 20px;
    padding: 20px 0;
    margin-top: 0;
}

aside.signIn ul {
    list-style-type: none;
}

aside.signIn li {
    margin: 10px 0;
    color: #6f6f6f;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

aside.signIn ul li::before {
    position: absolute;
    left: 25px;
	color: #0089E5;
	font-size: 16px;
	content: "\f105";
	font-family:'FontAwesome';
}

main.signIn h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
}

main.signIn h2 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
}

main.signIn section fields {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px 0;
}

main.signIn section.doplnujuce fields {
    grid-template-columns: 30% 35% 35%;
    grid-template-areas: 'n_charakteristika i_charakteristika i_charakteristika'
                         'n_oblast i_oblast i_oblast'
                         'n_zamestnanci i_zamestnanci i_zamestnanci'
                         'n_logo i_logo i_logoLink'
                         'n_suhlas i_suhlas i_suhlas';
}

main.signIn section fields suhlas {
    display: grid;
    grid-template-columns: 4% 70%;
    align-items: center;
}

main.signIn suhlas {
    position: relative;
    display: inline-block;
}

main.signIn suhlas span {
    visibility: hidden;
    width: 250px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    border: 1px solid #000;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 45%;
}

main.signIn suhlas span:after, main.signIn suhlas span:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

main.signIn suhlas span:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
main.signIn suhlas span:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000;
	border-width: 11px;
	margin-top: -11px;
}

main.signIn suhlas:hover span {
    visibility: visible;
}

main.signIn section fields input:focus {
    border-color: #0089E5;
    color: #2b542c;
}

main.signIn section.prihlasenie {
    grid-area: prihlasenie;
}

main.signIn section.spolocnost {
    grid-area: spolocnost;
}

main.signIn section.kontakt {
    grid-area: kontakt;
}

main.signIn section.doplnujuce {
    grid-area: doplnujuce;
}

main.signIn button {
    width: 200px;
    border: solid 1px #0089E5;
    background: none;
    border-radius: 5px;
    font-size: 12pt;
    cursor: pointer;
}

main.signUp input[type="submit"],
main.signIn input[type="submit"] {
    background: #0089E5;
    color: #fff;
    height: 50px;
    font-weight: 400;
    font-size: 14pt;
    text-transform: capitalize;
}

/* **************** */
/* ***  Offers  *** */
/* **************** */

main.offers {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'search'
        'offers';
    grid-row-gap: 30px;
}

main.offers section.search h1 {
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

main.offers section.offers header h2 {
    margin-top: 0;
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

main.company section.offers fields a,
main.offers section.offers fields a {
    display: grid;
    grid-template-areas: 'offers-logo offers-informations offers-date';
    grid-template-columns: 15% 75% 10%;
    border: 1px solid #f2f2f2;
    height: 100px;
    align-items: center;
}

main.offers section.search search {
    display: block;
    margin: auto;
    width: 98%;
    height: 45px;
    border-radius: 5px;
    border-top: solid 8px rgba(0, 0, 0, 0.2);
    border-bottom: solid 8px rgba(0, 0, 0, 0.2);
    border-left: solid 15px rgba(0, 0, 0, 0.2);
    border-right: solid 15px rgba(0, 0, 0, 0.2);
    margin-left: -5px;
}

/* **************** */
/* ***  Offer  *** */
/* **************** */

main.offer {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'nav nav'
        'company company'
        'description aside-info'
        'description aside-company'
        'description .';
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
}

nav.offer {
    display: grid;
    grid-template-columns: 42px auto;
    align-items: center;
    padding-top: 30px;
}

nav.offer *:not(:first-child)::before {
    position: relative;
    content: '\f101';
    font-family: 'FontAwesome';
    left: -6px;
    font-size: 14px;
}

nav.offer a,
nav.offer p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

main.offer aside.info {
    grid-area: aside-info;
    display: grid;
    background: #fff;
    border-radius: 5px;
    grid-template-areas: 
        'header'
        'description'
        'category'
        'created';
    padding: 30px 20px;
    grid-gap: 15px;
}

main.offer aside.info header {
    grid-area: header;
}

main.offer aside.info header h3 {
    margin: 0;
}

main.offer aside.info p.description {
    font-size: 16px;
    grid-area: description;
    margin: 0;
    padding-left: 30px;
    color: #707070;
}

main.offer aside.info p.description::before {
    font-size: 18px;
    content: "\f201";
    font-family: 'FontAwesome';
    position: absolute;
    left: 1025px;
    color: #000;
}

main.offer aside.info p.category {
    font-size: 16px;
    grid-area: category;
    margin: 0;
    padding-left: 30px;
    color: #707070;
}

main.offer aside.info p.category::before {
    font-size: 18px;
    content: "\f275";
    font-family: 'FontAwesome';
    position: absolute;
    left: 1025px;
    color: #000;
}

main.offer aside.info p.created {
    font-size: 16px;
    grid-area: created;
    margin: 0;
    padding-left: 30px;
    color: #707070;
}

main.offer aside.info p.created::before {
    font-size: 18px;
    content: '\f0e7';
    font-family: 'FontAwesome';
    position: absolute;
    left: 1025px;
    color: #000;
}

main.offer aside.company {
    grid-area: aside-company;
    display: grid;
    background: #fff;
    border-radius: 5px;
    grid-template-columns: auto;
    grid-template-areas: 
        'header'
        'logo'
        'name'
        'address'
        'employees'
        'branch'
        'url_header'
        'url_link';
    padding: 20px;
    grid-gap: 15px;
}

main.offer aside.company header {
    grid-area: header;
}

main.offer aside.company header h3 {
    margin: 0;
}

main.offer aside.company logo {
    grid-area: logo;
}

main.offer aside.company logo img {
    width: 90px;
}

main.offer aside.company p,
main.offer aside.company p a {
    margin: 0;
    font-size: 16px;
    color: #707070;
}

main.offer aside.company p.name { grid-area: name; }
main.offer aside.company p.address { grid-area: address; }
main.offer aside.company p.employees { grid-area: employees; }
main.offer aside.company p.branch { grid-area: branch; }
main.offer aside.company p.url_header { grid-area: url_header; }
main.offer aside.company p.url_link { grid-area: url_link; }

main.offer section.company {
    grid-area: company;
    display: grid;
    background: #fff;
    grid-template-areas: 
        'logo informations'
        '. buttons';
    grid-template-columns: 180px auto;
    border-radius: 5px;
    padding: 20px 20px 40px 20px;
    grid-row-gap: 20px;
}

main.offer section.company logo {
    grid-area: logo;
    display: grid;
    align-items: center;
}

main.offer section.company logo img {
    width: 150px;
}

main.offer section.company informations {
    grid-area: informations;
    display: grid;
    grid-template-areas: 
        'header header header'
        'location salary time';
    grid-template-columns: 220px 90px 200px;
}

main.offer section.company informations h1.header {
    grid-area: header;
    font-size: 30px;
    margin: 0;
}

main.offer section.company informations p.location {
    grid-area: location;
    font-size: 14px;
    color: #4B4B4B;
    margin: 0;
}

main.offer section.company informations p.location::before {
    font-size: 20px;
    padding-right: 10px;
    content: '\f041';
    font-family: 'FontAwesome';
}

main.offer section.company informations p.salary {
    grid-area: salary;
    font-size: 14px;
    color: #4B4B4B;
    margin: 0;
}

main.offer section.company informations p.salary::before {
    font-size: 20px;
    padding-right: 10px;
    content: '\f0d6';
    font-family: 'FontAwesome';
}

main.offer section.company informations p.salary::after {
    content: '\20AC';
    margin-left: 1px;
}

main.offer section.company informations p.time {
    grid-area: time;
    font-size: 14px;
    color: #4B4B4B;
    margin: 0;
}

main.offer section.company informations p.time::before {
    font-size: 20px;
    padding-right: 10px;
    content: '\f017';
    font-family: 'FontAwesome';
}

main.offer section.company buttons {
    grid-area: buttons;
}

main.offer section.company buttons a {
    font-size: 13px;
    background: #0072bc;
    color: #fff;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

main.offer section.company buttons a:hover {
    background: #0089E5;
}

main.offer section.company buttons a::before {
    color: #fff;
    font-size: 24px;
    position: relative;
    top: 5px;
    left: -10px;
    content: '\f0b1';
    font-family: 'FontAwesome';
}

main.offer section.description {
    display: grid;
    grid-area: description;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
}

main.offer section.description p {
    white-space: pre-line;
}

/* *************** */
/* ** Companies ** */
/* *************** */

main.companies {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'header header'
        'aside section'
        '. section';
    grid-row-gap: 30px;
    grid-template-columns: 25% 72%;
    grid-gap: 3%;
}

main.companies header h1 {
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 25px;
}

aside.companies {
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
        'header'
        'list';
}

aside.companies header {
    background: #ededed;
    border-radius: 5px 5px 0 0;
}

aside.companies header h3 {
    font-weight: 600;
    margin: 15px;
    font-size: 18px;
}

aside.companies ul {
    grid-area: list;
    list-style: none;
    padding-left: 25px;
}

aside.companies ul li {
    padding: 6px 0;
}

aside.companies ul li:first-child a {
    padding: 10px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

aside.companies a {
    -webkit-transition: .4s;
    transition: .4s;
}

aside.companies a:hover {
    color: #0089E5;
}

section.companies {
    background: #fff;
    border-radius: 5px;
    padding: 0 25px;
    display: grid;
    grid-template-areas: 
        'header'
        'fields'
        'switch';
}

section.companies header h2 {
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
}

section.companies fields {
    display: grid;
    grid-row-gap: 10px;
}

section.companies fields a {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 100px;
    border: 1px solid #f3f3f3;
}

section.companies fields a:hover informations h3 {
    color: #0089E5;
}

section.companies fields informations h3 {
    font-size: 18px;
    font-weight: 600;
    -webkit-transition: .4s;
    transition: .4s;
}

section.companies fields informations p {
    font-size: 13px;
}

section.companies switch {
    margin: 30px 0;
}

/* *************** */
/* *** Company *** */
/* *************** */

main.company {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'nav'
        'company'
        'description'
        'offers';
    grid-row-gap: 20px;
}

nav.company {
    display: grid;
    grid-template-columns: 42px 129px 150px;
    align-items: center;
    padding-top: 30px;
}

nav.company *:not(:first-child)::before {
    position: relative;
    content: '\f101';
    font-family: 'FontAwesome';
    left: -6px;
    font-size: 14px;
}

nav.company a,
nav.company p {
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}

main.company section.company {
    grid-area: company;
    background: #fff;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
        'logo information';
    grid-template-columns: 200px auto;
    padding: 20px;
}

main.company section.company logo {
    grid-area: logo;
    display: grid;
    align-items: center;
}

main.company section.company logo img {
    width: 150px;
}

main.company section.company a {
    color: #02743a;
    text-decoration: none;
}

main.company section.company informations {
    grid-area: information;
    display: grid;
    grid-template-areas: 
        'header'
        'address'
        'employees'
        'url';
    grid-template-rows: 45px 20px 20px 20px;
    margin-top: 20px;
}

main.company section.company informations h1.header {
    grid-area: header;
    margin: 0;
    align-self: center;
    font-size: 30px;
    margin-left: -10px;
}

main.company section.company informations p.address {
    grid-area: address;
    margin: 0;
    align-self: center;
}

main.company section.company informations p.address::before {
    content: "\f1ad";
    font-family: 'FontAwesome';
    position: relative;
    left: -5px;
}

main.company section.company informations p.employees {
    grid-area: employees;
    margin: 0;
    align-self: center;
}

main.company section.company informations p.employees::before {
    content: "\f0c0";
    font-family: 'FontAwesome';
    position: relative;
    left: -5px;
}

main.company section.company informations a.url {
    grid-area: url;
    margin: 0;
    align-self: center;
}

main.company section.company informations a.url::before {
    content: "\f0ac";
    font-family: 'FontAwesome';
    position: relative;
    left: -5px;
    color: #000;
}

main.company section.description {
    grid-area: description;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

main.company section.description header h1,
main.company section.offers header h1 {
    font-size: 18px;
    font-weight: 500;
}

main.company section.description p {
    white-space: pre-line;
    font-size: 13px;
    line-height: 1.4em;
}

main.company section.offers {
    grid-area: offers;
}

/* *************** */
/* ***  About  *** */
/* *************** */

main.about {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'header'
        'section';
    padding-bottom: 300px;
}

main.about header h1 {
    color: #fff;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 25px;
}

section.about {
    background: #fff;
    border-radius: 5px;
    padding: 20px 20px 20px 90px;
}

section.about p {
    font-size: 14px;
}

section.about p:first-child::before {
    position: absolute;
    left: 220px;
    color: #0089E5;
    font-size: 30px;
    content: '\f27e';
    font-family: 'FontAwesome';
}

/* *************** */
/* ***  signUp  *** */
/* *************** */

main.signUp {
    width: 75%;
    display: grid;
    grid-template-areas: 
        'header'
        'section';
    padding-bottom: 300px;
    grid-template-columns: 65.5%;
    grid-row-gap: 20px;
}

main.signUp section {
    padding: 15px 40px 40px 40px;
    margin-bottom: 25px;
    background: #fff;
    border-radius: 5px;
}

main.signUp h1 {
    color: #fff;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 0;
}

main.signUp h2 {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 15px;
}

main.signUp section fields {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 20px 0;
}